If:
  PathMatch: .*
CompileFlags:
  CompilationDatabase: build/debug
  Add: [/FI../../src/includes.hpp, -DVMA_IMPLEMENTATION]

Index:
  Background: Build
  StandardLibrary: false

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - undefined-internal
    - tautological-pointer-compare
    - c99-designator
    - c++11-narrowing
  ClangTidy:
    FastCheckFilter: Strict
Hover:
  ShowAKA: true
---
If:
  PathMatch: (src\/third_party|src\/os_core|src\/http)\/.*
Diagnostics:
  Suppress: "*"
CompileFlags:
  Add: -ferror-limit=0
