**.spv
build
*.o
*.obj
*.exe
*.exe.manifest
*.ilk
*.rdi
*.pdb
*/BROWSE.VC.DB*
*.zip
*.tar.gz
*.geojson
*.gpkg
*.sqlite
*.qmd
*.tracy
out
.cache
.venv
.zed/**
.vscode
.raddbg
compile_commands.json
**/cache/**
libs
!tools/**
**/*.glb
__cmake**
nul
.vs
.claude
